/*信息面板的显示与消失*/

.show-info {
    display: inline-block;
}

.hidden-info {
    display: none;
}

.info-pos {
    margin-top: 5%;
    margin-left: 3%;
}

.info-pos .img {
    display: inline;
    text-align: center;
}


/*div {
    border: 1px solid black;
}*/