  /*js和css要解耦*/
  /*对完成和未完成的事件进行适配样式*/
  
  .eventDone {
      text-decoration: line-through;
  }
  
  .eventTodo {
      text-decoration: "";
  }
  /*删除按钮*/
  
  .panelDel {
      background-color: #80AFCC;
      border-radius: 2px;
      border: 0px solid #3082AB;
      margin-left: 10px;
      box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 1);
      background-image: linear-gradient(90deg, rgb(190, 207, 216) 0%, rgb(174, 217, 241) 100%);
      color: #135E83;
      text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  }
  
  .panelDel:hover {
      background-color: #AED1E7;
      background-image: linear-gradient(90deg, rgb(152, 193, 216) 0%, rgb(193, 222, 239) 100%);
  }
  /*开始暂停按钮*/
  
  .btn-user {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      margin-left: 10px;
      padding: 6px 12px;
      margin-bottom: 0;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      border-radius: 4px;
  }
  
  .start-img {
      background-image: url('../img/start-pause.png');
      background-size: 50px 25px;
      background-position: -2px;
  }
  
  .pause-img {
      background-image: url('../img/start-pause.png');
      background-size: 50px 25px;
      background-position: -26px;
  }
  /*panel面板上的设置按钮*/
  
  .set-btn {
      background-image: url('../img/edit.png');
      background-size: 25px 25px;
  }