<div class="col-md-3 info-pos">
    <img src="./src/img/runningEvent.png">
    <p>当前事件</p>
</div>
<div class="col-md-5 ">
    <canvas id="myClock" class="show-clock" width="350" height="350"></canvas>
</div>
<div class="col-md-3  info-pos">
    <img src="./src/img/pomodoro.png">
    <p>番茄时间
    </p>
</div>